{% extends 'base.html.twig' %}

{% block title %}Список товаров{% endblock %}

{% block body %}
    <div class="example-wrapper">

        <h1>Список товаров ✅</h1>
        <ul class="nav">
            <li class="nav-item">  <a class="nav-link" href="/shop/list/fruit">Фрукты</a>  </li>
            <li class="nav-item">  <a class="nav-link" href="/shop/list/vegetables">Овощи</a>  </li>
        </ul>
        <main>
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {% for item in items %}

                        <div class="col">
                            <a href="{{ path('shop_item', {'id': item.id}) }}" class="itemClass">
                                <div class="card shadow-sm">
                                    <img width="100%" height="225" src="{{ asset('image/') }}{{item.image}}" role="img" >
                                    <div class="card-body">
                                        <p class="card-text">{{ item.title|striptags}}</p>
                                        <p class="card-text">{{ item.price|striptags}}</p>
                                        <p class="card-text">{{ item.description|striptags}}</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}


                </div>
            </div>
        </main>
    </div>


{% endblock %}
