{% extends 'base.html.twig' %}

{% block title %}Корзина{% endblock %}

{% block body %}

    <main>
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% set sum = 0 %}
    {% for item in items %}
        <div class="col">
                <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    <div class="card-body">
                        <p class="card-text">Название: {{ item.shopItem.title|striptags}}</p>
                        <p class="card-text">Цена: {{ item.shopItem.price|striptags}} грн</p>
                        {% set sum = sum + item.shopItem.price %}
                        <p class="card-text">Описание: {{ item.shopItem.description|striptags}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                        </div>
                    </div>
                </div>
            <a href="{{ path('shop_cart_delete', {'id': item.id}) }}" class="btn btn-secondary mt-2">Убрать из корзины</a>
        </div>
    {% endfor %}
        </div>
        <br>
        <h4>Итого: {{ sum }} грн</h4>
        <br>
        <a href="{{ path('shop_order') }}" class="float-right btn btn-success mt-2">Оформить заказ</a>
        <a href="{{ path('shop_cart_drop') }}" class="btn btn-danger mt-2">Очистить корзину</a>
        <br>

    </div>

</main>


{% endblock %}
