{% extends 'base.html.twig' %}

{% block title %}Продукт{% endblock %}

{% block body %}

    <div class="col-md-3">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col-auto d-none d-lg-block">
                {% if  image %}
                    <img width="100%" height="225" src="{{ asset('images/ShopItem/') }}{{ image }}" role="img">
                {% else %}
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                         xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                         preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"/>
                        <text x="30%" y="50%" fill="#eceeef" dy=".3em">нет картинки</text>
                    </svg>
                {% endif %}
            </div>
            <div class="col p-4 d-flex flex-column position-static">
                <p class="mb-auto">Название: {{ title|striptags }}</p>
                <p class="mb-auto">Цена: {{ price|price|striptags }}</p>
                <p class="mb-auto">Описание: {{ description|striptags }}</p>
                <a href="{{ path('shop_cart_add', {'id': id}) }}" class="btn btn-success mt-2" style="width: 200px;">Добавить
                    в корзину</a>
            </div>
        </div>
    </div>

{% endblock %}
